{{!-- <div>
  {{#each beerInfo}}
  <img src="{{this.image_url}}" alt="beer">
  <p>Name: {{this.name}}</p>
  <p>Description: {{this.description}}</p>
  <p>Tagline: {{this.tagline}}</p>
  {{/each}}
</div> --}}


<div id="all-beers">

{{#each beerInfo}}
<div>
{{>beerpartial this}}
</div>
{{/each}}

</div>